:root {
   /* Color styles */
    --primary: #B8D4FF ;
    --headerColor: #336FCC ;
    --white: #ffffff ;
    --black : #000000 ;
    --greenPastel: #BDECB0 ;
    --timelineColor: #14B6C1 ;

    /* text styles */   
    --text-XXL : 32px ; 
    --text-XL: 24px ;
    --text-L: 20px ;
    --text-M: 18px ;
    --text-article: 16px ;
    --text-S: 15px ;

}

