@import url(layout/footer.css);
@import url(components/menu.css);
@import url(layout/header.css);
@import url(components/menu.css);
@import url(utils/variables.css);
@import url(/src/fonts/font.css);
@import url(vendors/normalize.css);
@import url(base/main.css);

*{
    margin: 0px;
    
}

body {
    background-color: var(--primary);
    margin: 0px;
    font-family: 'Mulish', sans-serif;
   }
   

  